# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. List popular languages for Data Science
2. List commonly used libraries for Data Science
3. List some Data Science tools
4. Demonstrate simple arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. scipy
3. pandas
4. tensorflow
5. scikitlearn

| Data Science Tools |
| ------------------ |
| Jupyter Lab |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335